<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>865105865931-cl7gqi95ujrauoi5a0kotejpm54cke0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865105865931-cl7gqi95ujrauoi5a0kotejpm54cke0m</string>
	<key>API_KEY</key>
	<string>AIzaSyD9ehTGtgxYeDogLhOBP4Tm-KzhCW8ueLs</string>
	<key>GCM_SENDER_ID</key>
	<string>865105865931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>comSonic.socialNet</string>
	<key>PROJECT_ID</key>
	<string>socialnet-572e8</string>
	<key>STORAGE_BUCKET</key>
	<string>socialnet-572e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:865105865931:ios:e27630d459078dee</string>
	<key>DATABASE_URL</key>
	<string>https://socialnet-572e8.firebaseio.com</string>
</dict>
</plist>